﻿@model IEnumerable<HiBlog.Models.Post>

@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <h1>HiBlog</h1>
    <p class="lead">Kirjuta ise oma vinge jutt :).</p>
    @*<p><a href="http://localhost:54944/users/Create" class="btn btn-primary btn-lg">Logi sisse&raquo;</a></p>*@
    
    
    @*<p class="btn btn btn-lg">Like&raquo;</p>*@
</div>

<form action="/posts/Index" method="get">
    <div class="form-actions no-color">
        <p>
            Otsi sõna järgi: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="Otsi" class="btn btn-default" /> |
            
        </p>
    </div>
</form>
@*<div class="form-group">
    @Html.Label("Tag", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">
        @Html.DropDownList("Tag", null, htmlAttributes: new { @class = "form-control" }) |
        @Html.ValidationMessageFor(model => model.TagId, "", new { @class = "text-danger" })
        @Html.ActionLink("Tagasi kõikide postituste juurde", "ShowAllPosts")
    </div>
</div>*@
        <p>
            @Html.ActionLink("Loo uus", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Text)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.PostedOn)
                </th>
                
                <th></th>
            </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Text)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.PostedOn)
        </td>
        
        <td>
            @Html.ActionLink("Loe edasi", "ReadOn", new { id = item.Id }) |
            @Html.ActionLink("Muuda", "Edit", new { id=item.Id }) |

            @Html.ActionLink("Kustuta", "Delete", new { id=item.Id })
        </td>
    </tr>

}

</table>



