﻿@model HiBlog.Models.Post

@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Loe edasi</h2>

<div>
    <h4>Post</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Text)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberOfLikes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfLikes)<br /><br />
        </dd>
        
        

    </dl>
</div>
<p>
    @Html.ActionLink("Muuda", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Kõik postitused", "ShowAllPosts")
   
</p>
<form action="/posts/AddLike" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="hidden" name="id" id="id" value="@Model.Id" />
            <input type="submit" value="Like" class="btn btn-default" /> 
           
        </p>
    </div>
</form>