﻿@model IEnumerable<HiBlog.Models.Post>
@{
    ViewBag.Title = "ShowAllPosts";
}

<h2>Kõik postitused</h2>

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Pealkiri", "SortBy", new { sortOrder = "Title" })
        </th>
        <th>
            @Html.ActionLink("Postitamise aeg", "SortBy", new { sortOrder = "PostedOn" })
        </th>
        <th>
            @Html.ActionLink("Meeldimiste arv", "SortBy", new { sortOrder = "NumberOfLikes" })
        </th>
        <th></th>
    </tr>
    

    @if (TempData["SortedPosts"] == null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    <p><a href="/posts/ReadOn/@item.Id">@item.Title</a></p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostedOn)
                    @*@ item.PostedOn*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfLikes)
                </td>
            </tr>
        }
    }
    else
    {
        foreach (var item in (List<HiBlog.Models.Post>)TempData["SortedPosts"])
        {
            <tr>
                <td>
                    <p><a href="/posts/ReadOn/@item.Id">@item.Title</a></p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostedOn)
                    @*@ item.PostedOn*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfLikes)
                </td>
            </tr>
        }
    }

   
</table>