﻿@model HiBlog.Models.Tag

@{
    ViewBag.Title = "Kustuta";
}

@*<h2>Delete</h2>*@

<h3>Kas oled kindel, et tahad sildi kustutada?</h3>
<div>
    @*<h4>Silt</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

       

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Kustuta" class="btn btn-default" /> |
            @Html.ActionLink("Tagasi nimekirja", "Index")
        </div>
    }
</div>
