﻿@{
    ViewBag.Title = "HiBlog";
}

<div class="jumbotron">
    <h1>HiBlog</h1>
    <p class="lead">Kirjuta ise oma vinge jutt :).</p>
    <p><a href="http://localhost:54944/users"class="btn btn-primary btn-lg">Logi sisse&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>VANEMAD POSTITUSED</h2>
        <p>
           Vaata vanemaid postitusi
        </p>
        <p><a class="btn btn-default" href="http://localhost:54944/posts">Vanemad postitused &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>SILDID</h2>
        <p>Leia jutt märksõnade järgi</p>
        <p><a class="btn btn-default" href="">Sisesta märksõna&raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>OTSI</h2>
        <p>Otsi Like´ide järgi</p>
        <p><a class="btn btn-default" href="">Otsi &raquo;</a></p>
    </div>
</div>