﻿@model HiBlog.Models.Post

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Muuda posttitust</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.UserId)


        <div class="form-group">
            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Text, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Text, new { htmlAttributes = new { @class = "mytextbox" } })
                @Html.ValidationMessageFor(model => model.Text, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.Label("Lisa silt", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("TagId", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "Vali silt")

            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TagPost)
                    </th>
                    <th></th>
                </tr>

                @*@foreach (var item in Model.TagPost)
                    {

                        <text>||</text>@item.Tag.Name

                    }*@

                @foreach (var item in Model.TagPost)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tag.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Kustuta", "DeleteTagFromPost", new { tagId = item.TagId, postId = item.PostId })
                            @*@Html.ActionLink("Back to List", "Index")*@
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
    if (User.IsInRole("Moderaator"))
    {
        <div class="form-group">
            @Html.LabelFor(model => model.Published, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Published)
                    @Html.ValidationMessageFor(model => model.Published, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
    }



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Salvesta" class="btn btn-default" />
        </div>
    </div>
}


<div>
    @Html.ActionLink("Tagasi nimekirja", "ShowAllPosts")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
