﻿@model IEnumerable<HiBlog.Models.Post>

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    @*<h1>HiBlog</h1>
    <p class="lead">Parimate juttude blogi :).</p>*@
    @*<p><a href="http://localhost:54944/users/Create" class="btn btn-primary btn-lg">Logi sisse&raquo;</a></p>*@


    @*<p class="btn btn btn-lg">Like&raquo;</p>*@
</div>

<form action="/posts/Index" method="get">
    <div class="form-actions no-color">
        
                Otsi sildi või sõna järgi:<span>
    @Html.DropDownList("TagId", null, htmlAttributes: new { @class = "form-control" }, optionLabel: "Vali silt")
</span> <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
                <input type="submit" value="Otsi" class="btn btn-default" /> |

                @Html.ActionLink("Kõik postitused", "ShowAllPosts")
            
    </div>
</form>

@*<div class="form-group">
    @Html.Label("Otsi sildi järgi", htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-10">*@
@*<form action="/posts/Index" method="get">
    <div class="form-actions no-color">
        <p>
            
            
        </p>
        @Html.ActionLink("Tagasi kõikide postituste juurde", "ShowAllPosts")
    </div>
</form>*@


    <p>

        @Html.ActionLink("Loo uus", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Text)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.PostedOn)
            </th>

            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p><a href="/posts/ReadOn/@item.Id">@item.Title</a></p>
                </td>
                <td>
                    @*@Html.DisplayFor(modelItem => item.Text)*@
                    @Html.Raw(item.Text)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PostedOn)
                </td>

                <td>
                    @*@Html.ActionLink("Loe edasi", "ReadOn", new { id = item.Id })*@
                    @if (User.IsInRole("Admin") || User.IsInRole("Moderaator"))
                    {

                        @Html.ActionLink("Muuda", "Edit", new { id = item.Id }) <text>|</text>
                        @Html.ActionLink("Kustuta", "Delete", new { id = item.Id })
                    }
                </td>
            </tr>

        }

    </table>



