﻿@model HiBlog.Models.Post

@{
   
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostedOn)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Text)
        </dt>


        <dd>
            @*@Html.DisplayFor(model => model.Text)*@
            @Html.Raw(Model.Text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumberOfLikes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumberOfLikes)<br /><br />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TagPost)
        </dt>
        <dd>
        @foreach (var item in Model.TagPost)
        {
            @item.Tag.Name <text>|</text>
}
        </dd>
    </dl>
    
</div>
<p>
    @if (User.IsInRole ("Moderaator") || ViewBag.Userid == Model.UserId)

    {

       <text>|</text> @Html.ActionLink("Muuda", "Edit", new { id = Model.Id }) <text>|</text>
        @Html.ActionLink("Kustuta", "Delete", new { id = Model.Id })
    }
</p>
<p>@Html.ActionLink("Kõik postitused", "ShowAllPosts") </p>
   

<form action="/posts/AddLike" method="get">
    <div class="form-actions no-color">
        <p>
            <input type="hidden" name="id" id="id" value="@Model.Id" />
            <input type="submit" value="Meeldib" class="btn btn-default" /> 
           
        </p>
    </div>
</form>