﻿

@{
    ViewBag.Title = "SortByTag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kõik postitused selle sildiga</h2>
@*<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Pealkiri", "SortBy", new { sortOrder = "Title" })
        </th>
        <th>
            @Html.ActionLink("Postitamise aeg", "SortBy", new { sortOrder = "PostedOn" })
        </th>
        <th>
            @Html.ActionLink("Meeldimiste arv", "SortBy", new { sortOrder = "NumberOfLikes" })
        </th>
        <th></th>
    </tr>


    @if (TempData["SortedPosts"] == null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    <p><a href="/posts/ReadOn/@item.Id">@item.Title</a></p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostedOn)
                    @ item.PostedOn
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfLikes)
                </td>
            </tr>
        }
    }
    else   
        foreach (var item in Model.Post)
        {
            <tr>
                <td>
                    <p><a href="/posts/ReadOn/@item.Id">@item.Title</a></p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PostedOn)
                    @ item.PostedOn
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfLikes)
                </td>

            </tr>
        }*@
    


@*</table>*@


